body {
    padding: 0;
    display: block;
}


.center {
    text-align: center;
}

.container1 {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(241, 237, 237);
    text-align: center;

}

.container2 {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 10px;
}

.card {
    width: 20%;
    float: left;
    margin: 0 auto;
    margin-right: 2px;

}

.clear {
    clear: both;
}

p {
    padding: 0px;
    margin: 0;
}

.bg-1 {
    flex-grow: 2;
    background-color: #7EE5DA;
    
}

.bg-2 {
    flex-grow: 1;
    background-color: #70CCC2;
    
}


.bg-3 {
    flex-grow: 2;
    background-color: #62B3AA;
    font-size: -1;
    
}